{% extends 'index.html' %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-1 offset-md-1">
          <!-- Page Header -->
          <div class="page-header row no-gutters py-4 mb-3 border-bottom">
            <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
              <span class="text-uppercase page-subtitle">Vault AIDE</span>
              <h3 class="page-title">Home</h3>
            </div>
          </div>
          <!-- End Page Header -->
          <div class="row">
            <div class="col-lg-12 mb-4">
              <div class="card card-small mb-4">
                <div class="card-header border-bottom">
                  <h6 class="m-0">Welcome!</h6>
                </div>
                <div class="card-body p-0 pb-3 text-center">
                  <br>
                  <h6>To start go to the <a href="/config">configuration page </a></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div> 
{% endblock %}